move_rules:
  max_move_speed: $max_move_speed
  max_walk_speed: $max_walk_speed
  max_crossing_speed: $max_crossing_speed
  foreign_weight: $foreign_weight
  camp_weight: $camp_weight
  conflict_weight: $conflict_weight
  conflict_movechance: $conflict_movechance
  camp_movechance: $camp_movechance
  default_movechance: $default_movechance
  idpcamp_movechance: $idpcamp_movechance

